.inventoryCTN {
  width: 100%;
  height: 100%;
  background-color: #212121f8;
  display: flex;
  justify-content: center;
}
.InventoryBox {
  margin-top: 20px;
  width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.CONTAINER-IN {
  width: 100%;
  height: 900px;
}
.Ctn-button-inventory {
  width: 100%;
  display: flex;
  background-color: #212121;
  height: 70px;
  justify-content: center;
}
.SandP-CSS {
  width: 600px;
  font-family: "Kanit";
  /* font-weight: 600; */
  font-size: 25px;
  cursor: pointer;
  outline: none;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e4e4e4;
  letter-spacing: 3px;
}
.SandP-CSS:active {
  transform: scale(0.95);
}
.SandP-CSS:hover {
  background-color: rgb(46, 46, 46);
}

.setpictureinventory {
  margin-right: 10px;
  width: 50px;
}

.TAB-InVENTOTY {
  margin-top: 2px;
  width: 100%;
  background-color: #302f2f;
  height: 3px;
}
/*++++++++++++++++++ sticker+++++++++++++ */
.Sticker-container {
  font-size: 50px;
  color: #e4e6e5;
}
.Portrait-container {
  font-size: 50px;
  color: #e4e6e5;
}

.Present-items {
  color: #0400fa;
  width: 1200px;
  height: 800px;
  position: absolute;
  overflow: hidden;
}
.StickerCss {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  top: -100%;
  transition: 850ms;
}
.StickerCss.activeSticker {
  top: 0px;
  transition: 350ms;
}
.PortraitCss {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  top: -100%;
  transition: 850ms;
  flex-direction: column;
}
.PortraitCss.activePortrait {
  z-index: 1;
  top: 0px;
  transition: 350ms;
}
.PortraitCtn {
  width: 1200px;
  height: 600px;
  background-color: #212121;
}
.StickerCtn {
  width: 1200px;
  height: 600px;
  background-color: #212121;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.set-wrap {
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
}
.BOX-s {
  margin-top: 10px;
  margin-left: 10px;
  /* margin-right: 10px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
  /* margin-top: 20px;
  margin-left: 20px; */
  border: 5px #302f2f solid;
  box-sizing: 1px;
  border-radius: 15px;
  font-family: "Kanit";
}
.setSticker-size {
  width: 80px;
  height: 80px;
  animation: bounce 5s infinite;
}
@keyframes bounce {
  /* 10% {
    transform: translateY(10px);
  } */
  50% {
    transform: translateY(19px);
  }
  /* 75% {
    transform: translateY(-15px);
  } */
}
.box-sticker-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: #181617;
  border-radius: 50%;
}
.list-items-sticker {
  width: 185px;
  color: #e4e6e5;
  background: rgba(59, 59, 59, 0.692);
  margin-bottom: 5px;
  border-radius: 10px;
}
.name-sticker {
  margin-top: 3px;
  text-align: center;
  font-size: 14px;
}
.name-sticker-n {
  text-align: center;
  font-size: 13px;
  color: rgb(214, 107, 228);
  margin-bottom: 3px;
}
.box-sticker-height {
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Button-center-tab {
  width: 2px;
  height: 100%;
  background-color: rgb(46, 46, 46);
}
.bar-sticker {
  color: #fbfbff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "kanit";
  width: 100%;
  height: 80px;
  background: linear-gradient(to top right, #9261e7, #ec8ac8);
}
.setHand {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
/* ---------------setPortrait--------------- */
.BOX-p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-left: 20px;
  border: 5px #302f2f solid;
  box-sizing: 1px;
  border-radius: 15px;
  font-family: "Kanit";
}
.box-Portrait-height {
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-Portrait-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: #181617;
  border-radius: 50%;
}
.setPortrait-size {
  width: 80px;
  height: 80px;
}
.list-items-Portrait {
  width: 185px;
  color: #e4e6e5;
  background: rgba(59, 59, 59, 0.692);
  margin-bottom: 5px;
  border-radius: 10px;
}
.name-Portrait {
  margin-top: 3px;
  text-align: center;
  font-size: 14px;
}
.name-Portrait-n {
  text-align: center;
  font-size: 13px;
  color: rgb(85, 255, 7);
  margin-bottom: 3px;
}
.bar-Portrait {
  color: #fbfbff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "kanit";
  width: 100%;
  height: 80px;
  background: linear-gradient(to top right, #f0ec2e, #17a72f);
}
.show-click-text {
  font-size: 20px;
  font-family: "kanit";
  color: rgb(46, 46, 46);
  margin-left: 450px;
  margin-top: 200px;
  text-align: center;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Show-click-icon {
  width: 80px;
}
