.navbar {
  background-color: #212121;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.Containernavbaritems {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.containnercenter {
  display: flex;
  height: 50px;
  align-items: center;
  width: 1200px;
}

.navbarlogo {
  margin-left: 10px;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  animation: logo 5s infinite;
}
@keyframes logo {
  50% {
    transform: translatex(19px);
  }
}
.butCss {
  font-size: 14px;
  /* width: 70px; */
  display: flex;
  justify-content: center;
  font-family: "kanit";
  margin: 0.3rem;
  color: #fff;
  /* background-color: #e8eceb; */
  /* padding: 0.2rem; */
  border-radius: 10px;
  cursor: pointer;
  /* transition: all 0.3s ease-in-out 0s; */
}
.butCss:hover {
  /* background-color: #e09e50; */
  color: rgba(226, 119, 240, 0.938);
}
.menu-bars {
  margin-top: 10px;
  margin-left: 1rem;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-content: center;
  color: rgb(231, 227, 227);
  font-family: "kanit";
}
.menu-barsOne {
  margin-left: 20px;
}
.nav-menu {
  /* background-color: #21212160; */
  background-color: #212121;
  width: 225px;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 99;
}
.nav-menu.active {
  left: 0;
  transition: 350ms;
}
.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  width: 95%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: flex-end; */
}

.settingClosePNG {
  border-radius: 50%;
  width: 30px;
  /* margin-top: 10px;
  margin-right: 10px; */
}
.UserprofileContainer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.TemplateUserImage {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.P {
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  animation: rotate 1.5s linear infinite;
}
.C {
  background-color: #e8eceb;
}
.userImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: inherit;
}
@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.UserName-T {
  margin-top: 5px;
  font-family: "kanit";
  color: #aaa;
  font-size: 12px;
}
.space {
  margin-top: 10px;
  margin-bottom: 25px;
  width: 100%;
  height: 1px;
  background-color: #aaa;
}
.allpicturesidebar {
  width: 40px;
  height: 40px;
  margin-left: 40px;
}
.fonttitle {
  margin-left: 10px;
  font-family: "kanit";
  font-size: 14px;
  color: #e4e6e5;
}
.boxitems {
  display: flex;
  width: 200px;
  margin-top: 10px;
  height: 50px;
  align-content: center;
  align-items: center;
  margin-left: 11px;
  border: 1px solid #e8eceb00;
}
.boxitems:hover {
  /* background-color: #e8eceb3f; */
  border: 1px solid #8d8d8d;
}
.ContainerItemsidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-content: center; 
}
.searchbar2 {
  height: 50px;
  width: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #055203;
}

.search-box2 {
  position: absolute;

  background: linear-gradient(
    to top left,
    rgba(97, 97, 97, 0.199),
    rgba(190, 190, 190, 0.089)
  );
  background-color: #e4e6e5;
  height: 40px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
}
.box-btn2 {
  color: #fcfcfc;
  /* color: #d60d0d; */
  float: right;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
}
.search-btn2 {
  float: right;
  width: 15px;
  height: 15px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
}
.search-txt2 {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  font-size: 15px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  color: #333;
  font-family: "Kanit";
}
.search-box2:hover > .search-txt2 {
  width: 240px;
  padding: 0 6px;
}
.Userzone {
   width: 100px;
  height: 50px; 
  display: flex;
  justify-content: center; 
   align-items: center; 
  /* margin-right: 15px; */
 
}
/* dropdown----------------------------------------------------------- */
.icon-button {
  width: 40px;
  height: 40px;
  /* background-color: #e8eceb; */
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-user {
  background-color: #212121;
  border-radius: 3px;
  width: 210px;
  height: 230px;
  display: none;
  transition: 850ms;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.dropdown-user.activeDropdown {
  transition: 350ms;
  display: flex;
  position: absolute;
  right: 0.5%;
  top: 5.5%;
  margin-top: 1px;
  flex-direction: column;
 
}
.fonttitleDD {
  /* position: absolute; */
  font-size: 14px;
  margin-left: 20px;
  font-family: "Kanit";
  color: #fff;
}
.fonttitleDD:hover{
  color: rgb(160, 161, 160);
}
.icons-userMENU {
  margin-left: 20px;
  width: 25px;
  height: 25px;
}
.width-dditems{
  width: 200px;
  
}
.DDitems {
  /* width: 160px; */
  /* background-color: #e4e6e5; */
  height: 35px;
  display: flex;
  align-items: center;
  z-index: 90;
  border-radius: 3px;
  /* width: 100px; */
}
.text-florr-userdropdown{
  font-family: 'kanit';
  font-size: 12px;
  color: #696969;
  margin: 20px;
}
.dropdown-menu-items {
  width: 100%;
  height: 150px;
  /* background-color: #37a337; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  /* align-items: center; */
  /* justify-content: center; */
}
.box-button-sidebar{
  width: 100%;
  height: 350px;

  display: flex;
  align-items: center;
 justify-content: flex-end;
 flex-direction: column;
}
.text-show-box{
  width: 100%;
  height: 250px;
  /* background-color: #1aa180; */
  display: flex;
  align-items: center;
 justify-content: flex-end;
 flex-direction: column;
 color:#e4e6e55e;
}
.Set-account{
  width: 155px;
  height: 40px;
  font-family: 'kanit';
  background-color:#37a337 ;
  border-radius: 5px;
   border: none;
  color: #e4e6e5;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
}
.Logout-button{
  width: 155px;
  height: 40px;
  font-family: 'kanit';
  background-color:#f8f6f6d7 ;
  border-radius: 5px;
  border: none;
  color: #333;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
}
















@media (max-width: 1200px) {
  .containnercenter {
    width: 700px;
  }
}
