.PageDefaultCTN {
  width: 100vw;
  height: 100vh;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ContainerPDF {
  margin-top: 10px;
  width: 1200px;
  height: 100vh;
  overflow: hidden;
  /* border-style: solid; */
}
.PictureSlide-Container {
  width: 100%;
  height: 250px;
  /* border-style: solid; */
  position: relative;
  overflow: hidden;
}
.PictureSet {
  width: 100%;
  height: 100%;
}
.slideshow-item {
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0;
  animation: cycleImages 31s infinite;
}
.slideshow-item:nth-child(1) {
  animation-delay: 0s;
}
.slideshow-item:nth-child(2) {
  animation-delay: 10s;
}
.slideshow-item:nth-child(3) {
  animation-delay: 20s;
}

.slideshow-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes cycleImages {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
.User-Post-Container {
  width: 750px;
  /* border-style: solid; */
  display: flex;
  height: 100vh;
  justify-content: center;
}
.Box-post-ctn {
  width: 100%;
  height: fit-content;
  /* background-color: rgb(242, 235, 245); */
  border-radius: 10px;
  margin-top: 10px;
  /* margin: 10px; */
  background-color: #2424249c;
}
.heder-post {
  margin-left: 10px;
  width: 100%;
  height: 50px;
  /* border-style: solid; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.boxdetail {
  display: flex;
  justify-content: center;
}
.detail-post {
  width: 700px;
  height: 150px;
  /* border-style: solid; */
  padding: 1rem;
  font-family: "kanit";
  color: #e8eceb;
  font-size: 15px;
  background-color: #141414;
  border-radius: 10px;
}
.comment-post {
  margin-left: 10px;
  width: 100%;
  height: 60px;
  /* border-style: solid; */
  display: flex;
  align-items: center;
}
.pictureSET {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.username-show {
  font-family: "kanit";
  color: #eee;
  margin-left: 10px;
  font-size: 16px;
}
.timing-show {
  font-family: "kanit";
  color: green;
  margin-left: 50px;
  font-size: 12px;
}
.setboxLike {
  width: 25px;
  height: 50px;
  display: flex;
  align-items: center;
}
.likethis {
  width: 22px;
  height: 22px;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
}
.likethis:hover {
  width: 30px;
  height: 30px;
}
.likethis:active {
  transform: scale(0.7);
}
.numberlike {
  margin-left: 2px;
  color: #fff;
  font-size: 14px;
}
.ZoneButton-cp {
  /* width: 50px; */
  margin-top: 0 10px;
  display: flex;
  margin-bottom: 10px;
  /* justify-content: center; */
  align-items: center;
}

.think {
  background-color: #3f3f3f;
  color: #eee;
  margin-left: 20px;
  width: 150px;
  height: 28px;
  text-align: center;
  border-radius: 10px;
  font-family: "kanit";
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
}
.think:hover {
  background-color: #1d1d1d00;
}
.think:active {
  transform: scale(0.92);
}
