
.PageDefaultCTN {
  /* width: 100vw; */
  height: 100vh;
  background-color: #fff;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* background-color: #e4e6e5; */
}
.ContainerPDF {
  margin-top: 10px;
  width: 1200px;
  /* height: 100%; */
  
}
.PictureSlide-Container {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
}
.PictureSet {
  width: 100%;
  height: 100%;
}
.slideshow-item {
  height: inherit;
}
.slide-show-item-Text-1{
  position: absolute;
  margin-top: 30px;
  transform: translateY(-100%);
  /* transform: translateX(50%); */
  /* background-color: #e4e6e54b; */
  color: #d787e7;
  padding: 6rem;
  font-family: 'kanit';
  display: flex;
  flex-direction: column;
}



.slideshow-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@keyframes cycleImages {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
.CTN-USER-AND-MODE {
  display: flex;
flex-direction: column;

  /* width: 400px; */
}

.setsize-image-face{
  width: 100px;
  height: 100px;
}
.T1-face{
  font-size: 50px;
  color: #fff;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.T2-face{
font-size: 15px;
color: rgb(255, 255, 255);
}
.bar-news-item-css{
  margin-top: 5px;
  width: 100%;
  height: 50px;
  background-color: rgb(58, 58, 58);
  /* background:linear-gradient(to left,rgb(247, 247, 247),rgb(70, 70, 66));  */
  display: flex;
  font-family:'kanit';
  color: #e4e6e5;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.Top5-cantainer{
  width: 100%;
  height: 290px;
  /* background-color: indigo; */
  border: 1px solid;
}
.bar-New-post-css{
  margin-top: 5px;
  width: 100%;
  height: 50px;
  background-color: #9c9c9cbe;
  color: #fff;
  font-size: 25px;
  display: flex;
  font-family:'kanit';
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding-right: 50px;
}
.Newpost-cantainer{
  width: 100%;
  height: 290px;
  border: 1px solid;
}
.bar-activity-css{
  margin-top: 5px;
  width: 100%;
  height: 50px;
  background-color: #eeeef0;
  color: #333;
  font-size: 25px;
  display: flex;
  font-family:'kanit';
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding-right: 50px;
  
}
.Activity-cantainer{
  width: 100%;
  height: 290px;
  border: 1px solid;
  margin-bottom: 50px;
}