.Frame3 {
  font-size: 50px;
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.ContainerRegister {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BoxRegister {
  width: 700px;
  height: 450px;
  display: flex;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: linear-gradient(to right, #133330, #8cbdb9) no-repeat 0 0 / cover;
  margin-bottom: 100px;
}
.InputZoneRegister {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}
.text-Register1 {
  font-family: "kanit";
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 35px;
  color: #2d3e4e;
}
.text-Register2 {
  font-family: "kanit";
  font-size: 12px;
  color: #656769;
}
.EUScss {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 250px;
  font-family: "kanit";
  outline: none;
}
.ButtonRegister {
  font-family: "kanit";
  margin-top: 20px;
  border-radius: 20px;
  border-style: none;
  outline: none;
  cursor: pointer;
  background: #2d3e4e;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: tranform 80ms ease-in;
}
.ButtonRegister:active {
  transform: scale(0.92);
}
.ShowZoneRegis {
  width: 350px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
.text-ShowZone1-regis {
  font-family: "kanit";
  font-size: 2rem;
  font-weight: 600;
  color: #e8eceb;
  margin-bottom: 30px;
}
.text-ShowZone2-regis {
  font-family: "kanit";
  font-size: 0.9rem;
  width: 80%;
  text-align: center;
  color: #e8eceb;
}
.ButtonShowZone-Regis {
  font-family: "kanit";
  margin-top: 20px;
  border-radius: 20px;
  border-style: 1px;
  border-color: #eee;
  outline: none;
  cursor: pointer;
  background: inherit;
  color: #e8eceb;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: tranform 80ms ease-in;
}
.ButtonShowZone-Regis:active {
  transform: scale(0.92);
}
.layerRegis {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
