.Layout-container-ShopScreen{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
}.Center-containner-ShopScreen{
    width: 1200px;
    margin-top: 20px;
}
.classname-container{
    width: 100%;
    height: 500px;
    /* background-color: rgb(46, 46, 46); */
    background-color: #212121;
    /* padding: 20px; */
    padding-left: 50px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: flex-start;
}

.setSticker-size-shop {
  width: 100%;
  height: 100%;
  animation: bounce2 5s infinite;
}
@keyframes bounce2 {
  /* 10% {
    transform: translateY(10px);
  } */
  50% {
    transform: translateY(19px);
  }
  /* 75% {
    transform: translateY(-15px);
  } */
}
.name-s-shop{
    font-size: 12px;
    font-family: 'kanit';
    color: #fff;
}
.stickername-s-shop{
    font-size: 14px;
    font-family: 'kanit';
    color: rgb(214, 107, 228);
}
.box-name-shop{
    width: 150px;
    height: auto;
    /* background-color: coral; */
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-self: center; */
    align-items: center;
}
.box-sticker-shop{
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    /* background-color: cornsilk; */
}
.bodycontainer-sticker-shop{
display: flex;
flex-direction: column;
align-items: center;
margin: 10px;
width: 150px;
height: 160px;
border-radius: 10px;
}
.Eventclicked{
    cursor: pointer;
}.Eventclicked:active{
    transform: scale(0.95);
}
.Eventclicked:hover{
    background-color: rgba(255, 255, 255, 0.178);
}
.sizestar-shop{
    width: 16px;
    height: 16px;
}
.star-container{
    width: 100%;
    display: flex;
    color: darkgrey;
    height: 25px;  
     justify-content: center;
    align-items: center;
}
.Trade-container{
    position: absolute;
   width: 1200px;
    height: 235px;
    z-index: 99;
    transition: 850ms;
    /* border: 1px solid; */
    display: flex;
    top: -100%;
}
.Trade-container.activeTrade{
 
    top: 0px;
    transition: 350ms;
}
.Want-tohide{ 
    position: absolute;
    overflow: hidden;
    width: 1200px;
    height: 280px;
    /* background-color: aqua; */
    /* display: flex; */
   
}









.Bottoncontainertrade{
    width: 1200px;
}
.stcicker-TradeShow{
    width: 180px; 
    animation: bounce3 5s inherit;
}
@keyframes bounce3 {
  
}

.butten-accept-trade{
    width: 180px;
    height: 45px;
    font-family: 'kanit';
    cursor: pointer;
    border: none;
    background-color: #37a337;
    color: #e4e6e5;
    border-radius: 5px;
    outline: none;
    margin-top: 50px;
}
.butten-accept-trade:active{
    transform: scale(0.95);
}
.column1-trade{
    display: flex;
    flex-direction: column;
    /* background-color: #cfd1cf; */
    width: 200px;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    margin-left: 20px;
}
.column2-trade{
    display: flex;
    flex-direction: column;
    /* background-color: #1aad1a; */
    width: 450px;
    padding-left: 20px;
    padding-top: 15px;
    font-family: 'kanit';
    color: #333;
    /* justify-content: center; */
    /* align-items: center; */
}
.txt-trade-name-stk{
    font-size: 20px;
    color:#02d302;
}
.item-name-trade{
    font-size: 16px;
}
.txt-howmuch-star{
    font-size: 20px;
    color:#04c904;
}
.group-row-howmuchstar{
    display: flex;
    font-size: 16px;
    align-items: center;

}
.detail-item-stk{
    margin-top: 15px;
    color: rgb(192, 191, 191);
}
.column3-trade{
    margin-left: 80px;
    margin-top: 20px;
    width: 450px;
    background-color: rgb(202, 245, 185);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.set-font-total{
    font-family: 'kanit';
    display: flex;
    align-items: center;
    
}
.Largbar{
    width: 100%;
    height: 10px;
    /* margin-top: 10px; */
    background: rgb(214, 218, 211);
    border-radius: 10px;
}
.header-all-list-txt{
    font-family: 'kanit';
}
.Messagefinish{
    
    font-size: 50px;
}
.displaymessagefinish{
    display: none;
}
.finishtext{
    font-family: 'kanit';
    font-size: 20px;
    color: #006600;
}
.Messagefail{
    color: #e4321b;
    font-size: 50px;
}
.displaymessagefail{
    display: none;
}
.failtext{
    font-family: 'kanit';
    font-size: 20px;
    
}