.Layout {
  width: 100%;
  height: 100%;
  /* background-color: rgb(12, 145, 0); */
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}
.Content-align {
  width: 1200px;
  /* height: 100vh; */
  /* background-color: aquamarine; */
}
.BacktopBG-container {
  margin-top: 10px;
  width: 100%;
  height: 225px;
  /* background-color: rgb(120, 180, 127); */
  position: relative;
  overflow: hidden;
  /* border-radius: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.Topic-and-picture-contenner {
  width: 100%;
  height: 350px;
  display: flex;
  /* background-color: rgb(189, 163, 163); */
}
.Body-detail-container {
  width: 100%;
  height: auto;
  /* height: 600px; */
  /* background-color: cadetblue; */
}
.Comment-container {
  width: 100%;
  /* height: 100px; */
  /* margin-bottom: 200px; */
  
  /* background-color: darkblue; */
}
.SetBGWHITE {
  width: 100%;

  /* height: 100%; */
  position: absolute;
  top: -150%;
  /* right: -10%;  */

  /* position: absolute; */
}
.Box-import-pic {
  width: 500px;
  height: 350px;
  /* background-color: rgb(224, 194, 171); */
  margin-top: -60px;
  margin-left: 30px;
  position: absolute;
  /* border: 2px solid; */
  box-shadow: 0 5px 25px 0 #585858;
}
.Left-pic-controll {
  width: 50%;
  /* background-color: rgb(216, 216, 216); */
}
.Right-pic-controll {
  padding: 20px;
  /* background-color: rgba(100, 148, 237, 0.185); */
  width: 50%;
  font-family: "kanit";
  display: flex;
  flex-direction: column;
  color: #333;
}
.imagemain {
  width: 100%;
  height: 100%;
}
.S-topic {
  font-size: 16px;
  font-weight: 500;
}

.S-set {
  color: rgba(26, 26, 26, 0.664);
  font-weight: 300;
}
.Css-BTN-mode {
  margin-top: 5px;
  margin-bottom: 40px;
  width: 100px;
  height: 30px;
  background-color: rgb(211, 144, 228);
  /* font-size: 16px; */
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.topic-style {
  padding: 5px;
  font-size: 18px;
  color: rgba(51, 51, 51, 0.733);
  font-weight: 500;
  /* box-shadow: 0 5px 25px 0  #585858; */
}
.linespace-S {
  width: 100%;
  height: 2px;
  background-color: rgba(12, 12, 12, 0.329);
  border-radius: 5px;
}
.Description-text {
  display: flex;
  margin-top: 20px;
  font-family: "kanit";
  font-size: 16px;
  text-indent: 40px;
  color: #333;
}
.Button-zone {
  width: 100%;
  height: 60px;
  /* background-color: rgb(79, 139, 0); */
  display: flex;
  align-items: center;
}
.star-click {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.star-click:active {
  transform: scale(0.5);
}
.All-star {
  font-family: "kanit";
  font-weight: 500;
  font-size: 20px;
  color: rgb(212, 182, 7);
}
.bt-star {
  display: flex;
  height: 100%;
  width: 60px;
  /* background-color: darkgoldenrod; */
  /* justify-content: center;s */
  align-items: center;
}

.Count-Comment {
  height: 30px;
  font-family: "kanit";
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 2px 10px 0  #3a3a3a; */
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(181, 180, 182);
  color: #fff;
  /* margin-bottom: 100px; */
}
.cc1 {
  margin-right: 10px;
}
.cc2 {
  margin-right: 10px;
}
.LLISTCOMMENT {
  width: 100%;
  /* height: 20px; */
  /* background-color: hotpink; */
}
.headerlistcommett {
  display: flex;
  /* margin-top: 60px; */
  font-family: "kanit";
  font-size: 25px;
  color: rgb(71, 68, 73);
  justify-content: flex-start;
}
.setStcikerCC {
  width: 70px;
  height: 70px;
}
.controlIMG {
  width: 100%;
  height: 100%;
}
.GroupBox-cc {
  /* background-color: hotpink; */
  font-family: "kanit";
}
.itemCCZ {
  width: 100%;
  padding: 20px;
  height: auto;
  /* background-color: rgb(172, 211, 141); */
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  font-size: 16px;
  color: rgba(83, 83, 83, 0.986);
  box-shadow: 0 5px 25px 0 #585858;
}
.ttthink {
  font-size: 12px;
  margin-left: 10px;
}
.Whoisthis {
  width: 100%;
  height: 30px;
  display: flex;
  padding-left: 10px;
  color: rgb(22, 22, 22);
  /* justify-content: flex-end; */
  align-items: center;
  /* background-color: rgb(192, 189, 189); */
  margin-top: 5px;
  margin-bottom: 20px;
}
.setitemprofile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: lightcoral;
}
.Controlprofile {
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
}
.setIconsShow {
  position: fixed;
  top: 90%;
  right: 3%;
  width: 65px;
  cursor: pointer;
  animation: logo1 5s infinite;
}
.setIconsShow:active {
  transform: scale(0.6);
}
@keyframes chat {
  50% {
    transform: translatex(19px);
    /* transform: ; */
  }
}
.CommentContainer {
  position: fixed;
  width: 320px;
  height: 770px;
  background-color: rgb(255, 255, 255);
  /* background-color: rgb(187, 185, 185); */
  top: 6.5%;
  right: 0%;
  transition: 600ms;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 5px 25px 0 #585858;
}
.displayComment {
  display: none;
  /* display: flex; */

  transition: 350ms;
}
.setitemment {
  width: 100%;
  height: 100%;
  /* background-color: #585858; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 5px;
}
.Topicthink {
  width: 100%;
  padding: 10px;
  text-align: center;
  border: 2px solid rgb(250, 250, 250);
  color: #333;
  font-family: "kanit";
}
.setTeaxtArea-comment {
  /* height: 500px; */
  margin-top: 5px;
}
.Text1125 {
  margin-top: 30px;
  display: flex;
  width: 100%;
  align-items: flex-start;
  padding-left: 5px;
  font-family: "kanit";
  font-size: 12px;
  color: rgb(90, 90, 90);
}
.Text1125-1 {
  margin-top: 10px;
  display: flex;
  width: 100%;
  align-items: flex-start;
  padding-left: 5px;
  font-family: "kanit";
  font-size: 12px;
  color: rgb(90, 90, 90);
}
.ChoseStickercontainer {
  width: 100%;
  height: 200px;
  background-color: rgb(255, 255, 255);
  /* background-color: rgb(66, 63, 63); */
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  padding: 10px;
  overflow-y: scroll;
  /* align-items: center; */
  margin: 5px;
}
.ChoseStickercontainer::-webkit-scrollbar {
  width: 10px;

  border-radius: 60px;
  background-color: rgb(203, 240, 179);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(120, 201, 67);
  width: 1.4rem;
  border-radius: 20px;
}
.YOUchose {
  display: flex;
  background-color: black;
  /* align-items: center;
justify-content: center; */
  margin: 5px;
  width: 90px;
  height: 90px;
}
.SetsizeFollowSticker {
  width: 100%;
  height: 100%;
}
.stickerItem-chose {
  /* margin: 5px; */
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.stickerItem-chose:active {
  transform: scale(0.9);
}
.pickcss {
  color: #fff;
  width: 49px;
  padding: 2px;
  border-radius: 10px;
  background-color: rgb(111, 211, 11);
  font-size: 11px;
  font-family: "kanit";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -35px;
  margin-left: 5px;
  /* margin-bottom: 30px; */
}
.pickdisplay {
  display: none;
}
.accept-post {
  /* display: flex; */
  margin-top: 50px;
  width: 50%;
  height: 40px;
  border: none;
  background-color: rgb(120, 201, 67);
  font-size: 15px;
  font-family: "kanit";
  color: #fff;
  cursor: pointer;
  outline: none;
}
.accept-post:active {
  transform: scale(0.9);
}
.DontChose {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  font-family: "kanit";
  font-size: 12px;
  color: rgb(126, 125, 125);
  cursor: pointer;
}
.Box-comment-list{
    display: flex;
    flex-direction: column;
    
    
}
.footer-show{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  background:linear-gradient(to  bottom,  rgb(255, 255, 255), rgba(150, 147, 147, 0.938) );
}
.Btn-showmore-show{
  margin-top: -20px;
  width: 160px;
  height: 40px;
  cursor: pointer;
  font-family: 'kanit';
  border:none;
  outline: none;
  background-color: rgba(53, 54, 52, 0.534);
  color: #e4e6e5;
  border-radius: 3px;
}
.Btn-showmore-show:hover{
  background-color: chocolate;
}
.Btn-showmore-show:active{
  
  transform: scale(0.95);
}